# Ignore node_modules in both backend and frontend
DigitalPortfolioBuilder/backend/node_modules/
DigitalPortfolioBuilder/frontend/node_modules/

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Environment variables
DigitalPortfolioBuilder/backend/config/
A/frontend/.env

# Build files
A/backend/dist/
A/frontend/build/
A/frontend/dist/

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.bak
*.old